body{
    overflow-x: hidden;
}
header {
    background-color: white;
    border-bottom: 2px solid #585454;
}
h1, h2, h3{
    color: #bbb81f;
    text-shadow: 3px 3px 3px rgba(0, 0, 0, 0.25);
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}
section.container-md{
    background-color: #d4d4d4;
}
main{
    background-color: #585454;
}
.img-ref{
    width: 35rem;
}
.grey-div
{
    background-color: white;
    padding: 0.7rem;
    width: 100%;
}
.nav-ref{
    font-size: 20px;
    border: 2px outset #585454;
    background-color: #585454;
}
footer {
    border-top: 1px solid #585454;
    background-color: white;
}
 .copyrate{
    color: #bbb81f;
    font-size: 1.4em;
} 
.even{
    background-color: #585454;
}
th, td{
    background-color: rgb(203, 203, 203);
}
table
{
    height: 25vw;
}


